<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<h2><a th:href="@{/}">Poor, Lonely & Hungry</a></h2>
<h2>Poor, Lonely & Hungry</h2>
<p>
    This is a recipe site for poor and lonely students who need cheap recipes for few people.
</p>
<h2>Guðrún Herdís Arnarsdóttir</h2>
<p>
    Guðrún er á 5 ári sínu í háskólanum þar sem hún er að klára bachelor í hagnýttri stærðfræði og
    tölvunarfræði eftir að hafa tekið 1 ár í frönsku. Guðrún er amazing!
</p>
<h2>Ragnheiður Tryggvadóttir</h2>
<p>
    Ragnheiður er á 4 ári sínu í háskólanum. Hún útskrifaðist með bachelor vélaverkfræði vor 2021 og
    stefnir á að útskrifast með bachelor í tölvunarfræði vor 2022. Ragnheiður er líka amazing!
</p>
</body>
</html>