<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Poor, Lonely & Hungry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
<header>
    <h1>Poor, Lonely & Hungry </h1>
</header>

<form th:action="@{/search}">
    <input type="text" name="keyword" id="keyword"  placeholder="Recipe name" size="50" >
    <br>
    <button type="submit" class="btn btn-info" >Search</button>
    <br>
    <button type="submit" class="btn btn-info" >Clear</button>
</form>

<!--
<form action="... or use th:action" method="post" th:object="${vegan}">
<input type="checkbox" id="vegan" name="vegan" value="true" />
<label>Vegan</label>
<br>
</form>
<form action="... or use th:action" method="post" th:object="${vegetarian}">
<input type="checkbox" id="vegetarian" name="vegetarian" value="true" />
<label>Vegetarian</label>
<br>
</form>
<form action="... or use th:action" method="post" th:object="${glutenfree}">
<input type="checkbox" id="gluten-free" name="gluten-free" value="TRUE" />
<label>Gluten-free</label>
<br>
</form>
<input type="checkbox" name="dairy-free" th:checked="${myBooleanVariable}" />
<label>Dairy-free</label>
<br>
<input type="checkbox" id="Kosher" name="Kosher" value="TRUE" />
<label>Kosher</label>
<br>
<input type="checkbox" id="Keto" name="Keto" value="TRUE" />
<label>Keto</label>
<br>
<input type="checkbox" id="sugar-free" name="sugar-free" value="TRUE" />
<label>Sugar-free</label>
<br>
<li><a th:href="@{/recipe/{vegan}/{vegetarian}(vegan=${vegan.value}, vegetarian=${vegetarian.value})}" class="button large">Search!</a></li>
<br>
</form>
-->


<li><a th:href="@{/recipe1/{vegan}(vegan=true)}" class="button large">Vegan</a></li>
<li><a th:href="@{/recipe2/{vegetarian}(vegetarian=true)}" class="button large">Vegetarian</a></li>
<li><a th:href="@{/recipe3/{glutenfree}(glutenfree=true)}" class="button large">Gluten-free</a></li>
<li><a th:href="@{/recipe4/{dairyfree}(dairyfree=true)}" class="button large">Dairy-free</a></li>
<li><a th:href="@{/recipe5/{kosher}(kosher=true)}" class="button large">Kosher</a></li>
<li><a th:href="@{/recipe6/{keto}(keto=true)}" class="button large">Keto</a></li>
<li><a th:href="@{/recipe7/{sugarfree}(sugarfree=true)}" class="button large">Sugar-free</a></li>

<!--
<form th:action="@{/findbyprice}">
    <label for="pricelow">Price low</label>
    <input type="text" th:value="${pricelow}" id="pricelow" placeholder="500">
    <span th:pricelow="${pricelow}"></span>
    <label for="pricehigh">Price high</label>
    <input type="text" th:value="${pricehigh}" id="pricehigh" placeholder="5000">
    <span th:pricehigh="${pricehigh}"></span>
    <input type="submit" value="Search">
</form>
<br>
-->
<form th:action="@{/search}">
    <input type="text" name="pricelow" id="pricelow" placeholder="500">
    <br>
    <input type="text" name="pricehigh" id="pricehigh" placeholder="5000">
    <br>
    <input type="submit" value="Search">
    <br>
    <input type="submit" value="clear">
</form>


<section class="tiles">
    <article class="style1">
                    <span class="image">
				        <img src="/images/logo-star-trek-starfleet-symbol-png-favpng-MeDeSSKAHVSgj0be4y2zSN1qR.jpg" alt="" />
				    </span>
        <a th:href="@{/recipe/{a}(a = 1)}">
            <h2>Breakfast</h2>
        </a>
    </article>
    <article class="style2">
                    <span class="image">
				        <img src="/images/logo-star-trek-starfleet-symbol-png-favpng-MeDeSSKAHVSgj0be4y2zSN1qR.jpg" alt="" />
				    </span>
        <a th:href="@{/recipe/{a}(a = 2)}">
            <h2>Lunch</h2>
        </a>
    </article>
    <article class="style3">
                    <span class="image">
				        <img src="/images/logo-star-trek-starfleet-symbol-png-favpng-MeDeSSKAHVSgj0be4y2zSN1qR.jpg" alt="" />
				    </span>
        <a th:href="@{/recipe/{a}(a = 3)}">
            <h2>Dinner</h2>
        </a>
    </article>
    <article class="style4">
                    <span class="image">
				        <img src="/images/logo-star-trek-starfleet-symbol-png-favpng-MeDeSSKAHVSgj0be4y2zSN1qR.jpg" alt="" />
				    </span>
        <a th:href="@{/recipe/{a}(a = 4)}">
            <h2>Desert</h2>
        </a>
    </article>
    <article class="style5">
                    <span class="image">
				        <img src="/images/logo-star-trek-starfleet-symbol-png-favpng-MeDeSSKAHVSgj0be4y2zSN1qR.jpg" alt="" />
				    </span>
        <a th:href="@{/recipe/{a}(a = 5)}">
            <h2>Brunch</h2>
        </a>
    </article>
</section>
</body>
</html>